window {
    font-family: CaskaydiaCoveNerdFont;
    font-size: 36pt;
    color: rgba(200,00,00,0.9); /* text */
    background-color: rgba(15, 15, 20, 0.5);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    background-color: rgba(40,40,70,0.85);
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.1s ease-in;
    box-shadow: 10px 20px 10px 2px transparent;
    border-radius: 36px;
    border-color: rgba(10,10,5,0.4);
    margin: 10px;

    font-family: CaskaydiaCoveNerdFont-Light;
    font-size: 36pt;
    color: rgba(130,150,200,1.0); /* text */
}

button:focus {
    box-shadow: none;
    background-size : 30%;
    background-color: rgba(25,25,55,0.9);
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,.7);

    font-family: CaskaydiaCoveNerdFont-Light;
    font-size: 36pt;
    color: rgba(150,200,250,1.0); /* text */
}

button:hover {
    background-size: 30%;
    box-shadow: 15px 15px 15px 5px rgba(0,0,0,.7);
    background-color: rgba(20,20,50,0.9);
    color: rgba(20,20,20,0.9);
    transition: all 0.05s cubic-bezier(.55, 0.0, .28, 0.682), box-shadow 0.01s ease-in;

    font-family: CaskaydiaCoveNerdFont-Light;
    font-size: 36pt;
    color: rgba(150,200,250,1.0); /* text */
}

#shutdown {
    background-image: image(url("./icons/shutdown.svg"));
}
#suspend {
    background-image: image(url("./icons/suspend.svg"));
}
#reboot {
    background-image: image(url("./icons/reboot.svg"));
}
